<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidproject.queuehint">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".second_page" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_first_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scan"
            android:label="@string/title_activity_scan"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>